:root {
    --white-color: #fff;


    --gray-50: #f8f7f8;
    --gray-100: #f0eef0;
    --gray-200: #dddadd;
    --gray-300: #bfb9c8;
    --gray-400: #9c939d;
    --gray-500: #807681;
    --gray-600: #686069;
    --gray-700: #494349;
    --gray-800: #3e3b3f;

    --green-400: #13a313;
    --green-500: #117e11;

    --shadow-color: #363636;
}