.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.form {
    min-width: 400px;
    min-height: 400px;
    background-color: var(--white-color);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px var(--shadow-color);
}
.title {
    text-align: center;
    padding: 10px;
    color: var(--gray-800);
}
.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;

    label {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--gray-800);
        padding-left: 3px;
    };
    input {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--gray-400);
        font-size: 0.9rem;

        &:focus{
            border-color: var(--green-400);
        }
    };
}
.btnDk{
    margin: 20px 0px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color-light);
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
}